.GetToKnowUs {
    padding-left: 300px;
    padding-right: 300px;
    margin-top: 100px;
}
.gridContainer {
    display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-gap: 10px;
  }

  .gridItem {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
  }


  .images {
    width: 580px;
    height: 390px;
  }